* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat+Alternates';
    background-color: #e8f0f7;
    padding-top: 60px;
}

/* header */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: rgb(19, 22, 26);
    position: fixed;
    width: 100%;
    top: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo {
    color: #fff;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav_list {
    display: flex;
    column-gap: 40px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    transition: all 0.4s;
}

ul a:hover {
    color: rgb(255, 255, 255);
}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 1px;
        background-color: rgb(19, 22, 26);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateY(-100%);
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 23px;
        margin-top: 100px;
    }

    .hamburger {
        display: block;
    }
}

/* footer */
footer {
    background: #111;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;

}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover {
    color: aqua;
}

.footer-bottom {
    background: #000;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
